---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import { SlideInContainer } from "../components/slide-in-container";
import Layout from "../layouts/main.astro";
---

<Layout title="My Writing | Dodycode's Digital Space" description="Dody's Writing space">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <SlideInContainer client:visible>
      <PageHeading
        title="My Writing"
        description="Welcome to my blog where I share insights on web development and tech. I love exploring new ideas and documenting my journey. New posts coming regularly, so stay tuned"
      />
    </SlideInContainer>

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
