---
import menus from "../collections/menu.json";
import Logo from "../components/logo.astro";
---

<!-- This is an invisible div with relative position so that it takes up the height of the menu (because menu is absolute/fixed) -->
<div class="relative w-full h-20 opacity-0 pointer-events-none"></div>
<header id="header" class="absolute top-0 z-50 w-full h-20 slide-enter-content">
  <div
    class="flex items-center justify-between h-full max-w-5xl 2xl:max-w-6xl pl-6 pr-4 2xl:px-0 mx-auto border-b border-l-0 border-r-0 border-transparent select-none lg:border-r lg:border-l lg:rounded-b-xl"
  >
    <Logo />
    <div
      id="mobileMenuBackground"
      onclick="closeMobileMenu()"
      class="fixed inset-0 z-20 hidden w-screen h-screen duration-300 ease-out bg-white/90 dark:bg-neutral-950/90"
    >
    </div>
    <nav
      class="relative z-30 flex flex-row-reverse justify-start w-full text-sm sm:justify-end text-neutral-500 dark:text-neutral-400 sm:flex-row"
    >
      <div
        id="openMenu"
        class="flex flex-col items-end justify-center w-6 h-6 ml-4 cursor-pointer sm:hidden"
      >
        <svg
          class="w-8 h-8 dark:text-neutral-200"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"><path d="M4 8h16M4 16h16"></path></svg
        >
      </div>
      <div
        id="closeMenu"
        class="flex-col items-end justify-center hidden w-6 h-6 ml-4 -translate-x-1 cursor-pointer sm:hidden"
      >
        <svg
          class="w-6 h-6 text-neutral-600 dark:text-neutral-200"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"><path d="M6 18L18 6M6 6l12 12"></path></svg
        >
      </div>
      <div
        id="menu"
        class="fixed top-[75px] ease-out duration-300 sm:top-0 sm:py-0 pt-7 pb-4 dm:mx-0 left-0 z-40 flex-col items-end justify-start hidden w-full h-auto text-sm sm:h-auto sm:relative sm:flex-row sm:flex sm:text-sm sm:w-auto sm:pr-0 sm:pt-0"
      >
        <div
          class="absolute inset-0 top-0 right-0 block w-full h-full px-3 sm:hidden"
        >
          <div
            class="relative w-full h-full bg-white border border-dashed border-neutral-300 dark:border-neutral-700 backdrop-blur-sm rounded-xl dark:bg-neutral-950"
          >
          </div>
        </div>
        {
          menus.map((menu) => {
            return (
              <a
                href={menu.url}
                class="relative flex items-center justify-center w-full px-3 py-2 font-medium tracking-wide text-center duration-200 ease-out sm:py-0 sm:mb-0 md:w-auto hover:text-neutral-900 dark:hover:text-white"
              >
                {menu.name}
              </a>
            )
          })
        }
      </div>
      <div
        id="darkToggle"
        class="relative flex items-center pl-6 ml-4 font-medium tracking-wide cursor-pointer text-neutral-800 group dark:text-white"
      >
        <div
          class="absolute left-0 flex items-center justify-center w-6 h-6 overflow-hidden border-b border-transparent horizon group-hover:border-neutral-600"
        >
          <svg
            class="absolute w-6 h-6 transition duration-700 transform ease"
            id="sun"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
            ></path></svg
          >
          <svg
            class="absolute hidden w-6 h-6 transition duration-700 transform ease"
            id="moon"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            ></path></svg
          >
        </div>
        <span class="hidden sm:inline-block">
          <span id="dayText" class="ml-2">Day mode</span>
          <span id="nightText" class="hidden ml-2">Night mode</span>
        </span>
      </div>
    </nav>
  </div>
</header>

<style>
@keyframes slide-enter {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
  html:not(.no-sliding) [slide-enter],
  html:not(.no-sliding) .slide-enter,
  html:not(.no-sliding) .slide-enter-content>*:not(:has(.table-of-contents)) {
      --enter-stage: 0;
      --enter-step: 90ms;
      --enter-initial: 0ms;
      animation: slide-enter 1s both 1;
      animation-delay: calc(var(--enter-initial) + var(--enter-stage) * var(--enter-step));
  }

  .slide-enter-content>*:nth-child(1) {
      --enter-stage: 1 !important;
  }

  .slide-enter-content>*:nth-child(2) {
      --enter-stage: 2 !important;
  }

  .slide-enter-content>*:nth-child(3) {
      --enter-stage: 3 !important;
  }

  .slide-enter-content>*:nth-child(4) {
      --enter-stage: 4 !important;
  }

  .slide-enter-content>*:nth-child(5) {
      --enter-stage: 5 !important;
  }

  .slide-enter-content>*:nth-child(6) {
      --enter-stage: 6 !important;
  }

  .slide-enter-content>*:nth-child(7) {
      --enter-stage: 7 !important;
  }

  .slide-enter-content>*:nth-child(8) {
      --enter-stage: 8 !important;
  }

  .slide-enter-content>*:nth-child(9) {
      --enter-stage: 9 !important;
  }

  .slide-enter-content>*:nth-child(10) {
      --enter-stage: 10 !important;
  }

  .slide-enter-content>*:nth-child(11) {
      --enter-stage: 11 !important;
  }

  .slide-enter-content>*:nth-child(12) {
      --enter-stage: 12 !important;
  }

  .slide-enter-content>*:nth-child(13) {
      --enter-stage: 13 !important;
  }

  .slide-enter-content>*:nth-child(14) {
      --enter-stage: 14 !important;
  }

  .slide-enter-content>*:nth-child(15) {
      --enter-stage: 15 !important;
  }

  .slide-enter-content>*:nth-child(16) {
      --enter-stage: 16 !important;
  }

  .slide-enter-content>*:nth-child(17) {
      --enter-stage: 17 !important;
  }

  .slide-enter-content>*:nth-child(18) {
      --enter-stage: 18 !important;
  }

  .slide-enter-content>*:nth-child(19) {
      --enter-stage: 19 !important;
  }

  .slide-enter-content>*:nth-child(20) {
      --enter-stage: 20 !important;
  }
}
</style>
